<h1>Registration Success!</h1>
<p>An authentication request has been sent to the admin. Please allow 5 - 10 minutes for the proccess to complete</p>
<p>You can close the browser and retry after a few minutes, if your application was successful next time you open the browser</p>
<p>you will be able to visit the desired webpage, if it was unsuccessful you will keep seeing this page</p>
<p>If you send to many request in a short period of time you will be blocked for an hour from sending requests</p>
<p>Please note this is an automated procedure </p>